.tools{
    &-list{
        // padding: 10px 20px;
        border-radius: 10px;

        bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .full {
            display: flex;
            width: 775px;
            border-radius: 5px;
            // align-items: center;
            background: rgb(12, 11, 11);
            padding: 5px 0;
            button{
                background: transparent;
                color: white;
                margin-left: 5px;
                width: 50px;
                outline: none;
                cursor: pointer;
                border: 1px solid transparent;
                &:hover{
                    background: #5199ff;
                    border-radius: 6px;
                    border: 1px solid #5199ff;
                }
                p{
                    font-size: 10px;
                }
            }
            .tool{
                position: relative;
                > button.selected{
                    background: #5199ff;
                    border-radius: 6px;
                    border: 1px solid #5199ff;
                }
                &-childs{
                    top: 0;
                    transform: translateY(-60px);
                    margin-left: 5px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    
                    background: rgb(12, 11, 11);
                    > button{
                        background: transparent;
                        color: white;
                        margin-left: 5px;
                        width: 50px;
                        height: 50px;
                        outline: none;
                        cursor: pointer;
                        border: 1px solid transparent;
                        &:hover{
                            background: #5199ff;
                            border-radius: 6px;
                            border: 1px solid #5199ff;
                        }
                    }
                }
                .line{
                    padding: 5px;
                    transform: translateY(-70px);
                }
                .figure{
                    padding: 5px;
                    height: 110px;
                    width: 180px;
                    display: block;
                    transform: translateY(-120px);
                }
                .color{
                    height: 100px;
                    width: 180px;
                    display: block;
                    padding: 10px;
                    transform: translateY(-110px);
                    button{
                        border-radius: 5px;
                        padding: 0;
                        margin: 5px;
                        width: 30px;
                        height: 30px;
                    }
                }
                .del{
                    width: 110px;
                    display: flex;
                    display: block;
                    transform: translateY(-90px);
                    padding: 12px;
                    p{
                        width: auto;
                        color: #ccc;
                        font-size: 10px;
                        font-weight: normal;
                        cursor: pointer;
                        margin: 3px 0;
                        &:hover{
                            color: white
                        }
                    }
                }
                .check{
                    padding: 5px;
                    height: 110px;
                    width: 180px;
                    display: block;
                    transform: translateY(-120px);
                }
            }
        }
        .hidden{
            background: rgb(12, 11, 11);
            padding: 5px 0;
            width: 60px;
            border-radius: 5px;
            button{
                background: transparent;
                color: white;
                margin-left: 5px;
                width: 50px;
                outline: none;
                cursor: pointer;
                border: 1px solid transparent;
                &:hover{
                    background: #5199ff;
                    border-radius: 6px;
                    border: 1px solid #5199ff;
                }
                p{
                    font-size: 10px;
                }
            }
            // display: flex;
        }
    }
}

#history{
    display: flex;
}
#history > span{
    width: 10px;
    height: 10px;
    border: 1px solid;
    font-size: 30;
    justify-content: center;
    display: flex;
    margin: 2px;
}
#history > span.selected{
    background-color: black;
    color: white;
}