.single-video{
  height: 100%; 
  position: relative;
  &__body{
    video{
      width: 100%;
      height: 100%;
      visibility: visible;
      object-fit: initial;
    }
  }
  .wrapper-request{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-request-lecOut{
    div{
      color: white;
      text-align: center;
    }
    button{
        // width: 140px;
        // height: 42px;
        margin: 15px 0;
        color: white;
        padding: 10px 40px;
        border-radius: 4px;
        background-color: #5199ff;
        cursor: pointer;
        border: none;
    }
  } 
  .test-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      background-color: white;
      border-radius: 10px;
      height: 400px;
      width: 500px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      > h1{
          margin: 10px 0;
          color: red;
      }
      .input-number{
          width: 100px;
          height: 100px;
          border-radius: 5px;
          border: 1px solid #ccc;
          outline: none;
          margin: 10px 0;
          color: red;
          text-align: center;
          font-size: 30px;
      }
  }
  }
}