.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 3px;
    margin-top: 15px;
}

.group {
    background: #4eb5e5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 190;
    border-radius: 5px;
}
.chat-task{
    background: #EAF1F6;
    text-align: right;
    padding: 5px 10px;
    justify-content: flex-end;
    display: flex;
    i{
        cursor: pointer;
        margin-right: 10px;
    }
    &__camera{
        display: none;
    }
    &__offchat{
        z-index: 50;
        position: relative;
        > div{
            background: #EAF1F6;
            top: 30px;
            right: 15px;
            width: 110px;
            text-align: right;
            position: absolute;
            height: auto;
            max-height: 200px;
            overflow-y: auto;
            padding: 10px;
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
                display: block !important;
            }
            
            /* Track */
            
            ::-webkit-scrollbar-track {
                background: #3930ba; 
            }
            
            /* Handle */
            
                ::-webkit-scrollbar-thumb {
                background: #888; 
            }
            
                
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                
                background: #555; 
            } 
            ul{ 
                li{
                    text-align: left;
                    list-style: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    font-size: 14px;
                    margin-bottom: 5px;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
}
.chatWindow {
    height: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 190;
    /* background: rgb(233, 229, 229); */
    // background: red; 
    background: #eaf1f6;
    border-radius: 5px;
    // max-width: 100%;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #00000040);
}

.chatInputWrapper {
    display: grid;
    grid-row-start: 190;
    grid-row-end: 190;
}

::-webkit-scrollbar {
    display: none;
}

/* M E S S A G E S */
.chat {
    list-style: none;
    background: none;
    margin: 0;
    max-height: 90%;
    // padding: 0 0 50px 0;
    margin-top: 10px;
    // margin-bottom: 10px;
    /* max-height: 400px; */
    overflow: scroll;
    scroll-behavior: smooth;
    // padding-bottom: 70px;
    font-size: 14px;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), #840202); */
}

.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chat .avatar {
    position: relative;
    display: block;
    z-index: 2;
}

.chat .avatar img {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.chat .uid img {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5,
        4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5,
        1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5,
        -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5,
        -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5,
        -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5,
        inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.self {
    justify-content: flex-end;
    align-items: flex-end;
}

//일반 메시지
.self .msg-type {
    display: flex;
    &__message{
        padding: 5px 10px;
        background: rgb(48, 87, 158);
        color: white;
        border-radius: 5px;
        margin-left: 5px;
    }
    &__info{
        display: flex;
        align-items: flex-end;
    }
    &__name{
        font-size: 14px;
        margin-right: 5px;
    }
    &__time{
        font-size: 14px;
    }
}

.self .file-type{
    display: flex;
    &__message{
        padding: 5px 10px;
        background: rgb(48, 87, 158);
        color: white;
        border-radius: 5px;
        margin-left: 5px;
    }
    &__info{
        display: flex;
        align-items: flex-end;
    }
    &__btn{
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        cursor: pointer;
        outline: none;
    }
    &__name{
        font-size: 14px;
        margin-right: 5px;
    }
    &__size{
        font-weight: 100;
        margin: 10px 0px;
    }
    &__time{
        font-size: 14px;
    }
}
.other .file-type{
    display: flex;
    &__message{
        padding: 5px 10px;
        background: white; 
        color: black;
        border-radius: 5px;
        // margin-left: 5px;
    }
    &__info{
        display: flex;
        align-items: flex-end;
        order: 1;
    }
    &__btn{
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: black;
        cursor: pointer;
        outline: none;
    }
    &__name{
        font-size: 14px;
        margin-right: 5px;
    }
    &__size{
        font-weight: 100;
        margin: 10px 0px;
    }
    &__time{
        font-size: 14px;
    }
}

//요청 메시지
.self .msg-request {
    width: 100%;
    &__heading{
        display: flex;
        padding: 6px 0px;
        flex-direction: column;
        border-radius: 5px;
        width: 100%;
        font-size: 12px;
        text-align: center
    }
}
.other .msg-request {
    width: 100%;
    &__heading{
        // background: white;
        display: flex;
        padding: 6px 0px;
        flex-direction: column;
        border-radius: 5px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        span{
            display: inline-block;
        }
    }
}



.other {
    justify-content: flex-start;
    align-items: flex-end;
}
.other .msg-type {
    display: flex;
    &__message{
        padding: 5px 10px;
        background: white;
        color: black;
        border-radius: 5px;
        margin-right: 5px;
        flex: 1;
        order: 1;
    }
    &__info{
        display: flex;
        align-items: flex-end;
        order: 2;
    }
    &__name{
        font-size: 14px;
        margin-right: 5px;
    }
    &__time{
        font-size: 14px;
    }
}

.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #d4d4d4;
}

//이미지 클릭할때 
.msg-row img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all 0.4s cubic-bezier(0.565, -0.26, 0.255, 1.41);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 800px) {
    .msg img {
        width: 300px;
    }
}

@media screen and (max-width: 550px) {
    .msg img {
        width: 200px;
    }
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.msg time:before {
    content: " ";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background: rgb(48, 87, 158);
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */
input.textarea {
    width: 100%;
    height: 50px;
    // background: #0000006b;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    // color: white;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    color: black;
}
.mobile{
    display: flex;
    justify-content: center;
    button{
        background: white;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 7px 15px;
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 5px;
        font-weight: bold;
    }
}
//! Cần xóa đi các thuộc tính có sãn
@media only screen and (max-width: 1024px) {
    // .other .msg-request {
    //     width: 100%;
    //     &__heading{
    //         background: white;
    //         padding: 6px 8px;
    //         border-radius: 5px;
    //         width: 100%;
    //         font-size: 14px;
    //     }
    //     &__button{
    //         text-align: center;
    //         display: block;
    //         button{
    //             background: white;
    //             border: none;
    //             cursor: pointer;
    //             outline: none;
    //             padding: 7px 15px;
    //             border-radius: 5px;
    //             margin-right: 5px;
    //             margin-top: 5px;
    //             font-weight: bold;
    //         }
    //     }
    // }
    
    //요청 메시지
    .self .msg-request {
        width: 100%;
        &__heading{
            background: white;
            text-align: center;
            padding: 6px 8px;
            border-radius: 5px;
            width: 100%;
            font-size: 14px;
        }
    }
    .chat-task{
        &__camera{
            display: block;
        }
        &__file{
            display: none;
        }
    }
}