.chat__component {
  width: 100%;
  height: 100%;
  background-color: #eaf1f6;

  .chat-content {
    height: 85%;
    max-height: 85%;
    padding: 10px 0;

    .chat-rows {
      padding: 10px 0;
      list-style: none;
      background: none;
      height: 100%;
      max-height: 100%;
      overflow: scroll;
      scroll-behavior: smooth;
      font-size: 14px;

      li {
        padding: 0.3rem 0.1rem;
        overflow: hidden;
        display: flex;
        height: auto;
      }
      //SELF
      .self {
        justify-content: flex-end;
        align-items: flex-end;
      }
      //일반 메시지
      .self .msg-type {
        max-width: 100%;
        &__message {
          padding: 5px 10px;
          background: #5199ff;
          color: white;
          border-radius: 5px;
        }
        &__info {
          display: flex;
          justify-content: flex-end;
        }
        &__time {
          color: #3c4456;
          font-size: 10px;
        }
      }
      .self .file-type {
        max-width: 100%;
        &__message {
          padding: 5px 10px;
          background: #5199ff;
          color: white;
          border-radius: 5px;
          max-width: 100%;
        }
        &__name {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__info {
          display: flex;
          justify-content: flex-end;
        }

        &__btn {
          background: transparent;
          border: none;
          border-bottom: 1px solid white;
          color: white;
          cursor: pointer;
          outline: none;
        }
        &__size {
          font-weight: 100;
          margin: 10px 0px;
        }
        &__time {
          font-size: 14px;
        }
      }

      //요청 메시지
      .self .msg-request {
        width: 100%;

        &__heading {
          display: flex;
          padding: 6px 0px;
          flex-direction: row;
          border-radius: 5px;
          width: 100%;
          font-size: 12px;
          text-align: center
        }
        &__content{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 20px;
          max-height: auto;
          img{
            width: 30px;
            height: 30px;
          }
        }
        &__warning{
          display: flex;
          justify-content: center;
          width: 100%;
        }
        span {
          display: inline-block;
          font-weight: normal;
          margin-left: 5px;
        }
      }

      //SELF
      .self {
        justify-content: flex-end;
        align-items: flex-end;
      }

      .other .msg-type {
        max-width: 100%;
        &__message {
          padding: 5px 10px;
          background: white;
          color: black;
          border-radius: 5px;
          margin-right: 5px;
          flex: 1;
          order: 1;
          max-width: 100%;
        }

        &__info {
          display: flex;
          align-items: flex-end;
          order: 2;
        }

        &__name {
          font-size: 10px;
          margin-right: 5px;
        }

        &__time {
          color: #3c4456;
          font-size: 10px;
          font-weight: normal;
        }
      }

      .other .msg-request {
        width: 100%;

        &__heading {
          // background: white;
          display: flex;
          padding: 6px 0px;
          flex-direction: row;
          border-radius: 5px;
          width: 100%;
          font-size: 12px;
          text-align: center;
          justify-content: center;

          span {
            display: inline-block;
            font-weight: normal;
            margin-left: 5px;
          }
        }
      }

      .other .file-type {
        max-width: 100%;
        &__message {
          padding: 5px 10px;
          background: white;
          color: black;
          border-radius: 5px;
          // margin-left: 5px;
        }

        &__info {
          display: flex;
          justify-content: flex-start;
        }

        &__btn {
          background: transparent;
          border: none;
          border-bottom: 1px solid black;
          color: black;
          cursor: pointer;
          outline: none;
        }

        &__name {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__size {
          font-weight: 100;
          margin: 10px 0px;
        }

        &__time {
          font-size: 14px;
        }
      }
    }
  }

  .chat-tasks {
    height: 6%;
    background: #f6f8fc;
    display: flex;
    border-top: 1px solid #dce3e8;
    z-index: 10;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      li {
        display: flex;
        cursor: pointer;
        img{
          width: 100%;
          height: 80%;
        }
        // margin-left: 5px;
      }
      .chatting-hidden{
        z-index: 50;
        position: relative;
        > div{
            background: #EAF1F6;
            border: 1px solid #ccc;
            top: -80px;
            right: 30px;
            width: 110px;
            max-width: 110px;
            text-align: right;
            position: absolute;
            height: auto;
            max-height: 200px;
            overflow-y: auto;
            padding: 10px;
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
                display: block !important;
            }
    
            /* Track */
            ::-webkit-scrollbar-track {
                background: #3930ba; 
            }
    
            /* Handle */
                ::-webkit-scrollbar-thumb {
                background: #888; 
            }
    
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            } 
            > ul{ 
              display: block;
                li{
                    text-align: left;
                    list-style: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    font-size: 14px;
                    margin-bottom: 5px;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
      }
    }
  }

  .chat-form {
    height: 9%;

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      background: white;
      padding: 0px 10px;
    }

    input {
      flex-grow: 2;
      border: none;
      height: 100%;
      width: 100%;
      &:focus {
        outline: none;
      }
    }

    button {
      border: transparent;
      background: #72c8fa;
      height: 90%;
      color: white;
      border-radius: 3px;
      white-space: nowrap;
      text-align: center;
      padding: 15px 20px;
    }

    // form{
    //   display: flex;
    //   background: red;
    //   flex-direction: row;
    //   // input{
    //   //   flex-grow: 2;
    //   // }
    // }

    // background: white;
    // .form-container{
    //   width: 100%;
    //   height: 100%;
    //   // position: relative;

    //   display: flex;
    //   flex-direction: row;
    //   background-color: red;
    //   border:1px solid grey;
    // }
    // input{
    //   flex: 2;
    // }
    // .chat-input{
    //   // width: 100%;
    //   // height: 100%;
    //   border: none;
    //   outline: none;
    //   padding-left: 10px;

    //   flex: 2;
    //   &:focus{
    //     outline: none;
    //   }
    // }
    // .btn-chat{
    //   // z-index: 10;
    //   // position: absolute;
    //   // top: 0
    //   // flex-grow: 1;
    //   border:1px solid blue;
    //   background:blue;
    //   color:white;
    //   // height: 100%;
    // }
  }

  // .chatting-wrapper{
  //   height: 100%;
  //   background: red;
  // }
  // .chatting-tasks{
  //   display: flex;
  //   padding-right: 10px;
  //   height: 5%;
  //   justify-content: flex-end;
  //   ul {
  //     display: flex;
  //     li {
  //       display: flex;
  //       cursor: pointer;
  //       margin-left: 5px;
  //     }
  //   }
  // }
  // .chatting-content{
  //   height: 95%;
  //   background: red;
  //   width: 100%;
  // }
  // }


::-webkit-scrollbar {
  // display: none;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    // background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background: rgb(48, 87, 158);
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
  }
}