.left-content__container{
        height: 100%;    
        .list-videos{
            height: 100%; 
            /* user 1 */
            .wrapper-request{
                position: absolute;
                top:0;
                left: 0;

                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.6);
                z-index: 10;

                text-align: center;
                color: white;

                &__name{
                    font-size: 40px;
                }
                &__type{
                    padding: 10px;
                    font-weight: bold;
                    span{
                        color: rgb(204, 90, 90);
                    }
                }
                &__btn{
                    display: flex;
                    justify-content: center;
                    width: 150px;
                    margin: auto;
                    button{
                        border: none;
                        padding: 8px 20px;
                        border-radius: 20px;
                        font-weight: bold;
                        margin: 10px 2px;
                        cursor: pointer;
                        outline: none;
                        
                        background: white;
                        color: black;
                    }
                    button:hover{
                        background: rgb(204, 90, 90);
                        color: white;
                    }
                    &--reject{
                        // background: white;
                        // color: black;
                        
                    }
                    &--accept{
                        // background: rgb(204, 90, 90);
                        // color: white;
                    }
                }
            }
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .video-1 {
                width: 100%;
                height: 100%;
            }
            .video-1 .video-item{
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
                
                //fix 
                video{
                    max-width: 1200px;
                    min-width: 1200px;
                    min-height: 900px;
                }
                
            }
            /* 2 user */
            .video-2 {
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 2px;
            }
            .video-2 .video-item{
                width: 50%;
                height: 50%;
                position: relative;
            }
            /* 3 and 4 user */
            .video-3, .video-4 {
                height: 100%;
                width: 100%;
                padding: 2px;
                text-align: center;
            }
            .video-3 .video-item, .video-4 .video-item {
                width: calc(100%/2 - 4px);
                height: calc(100%/2 - 4px);
                display: inline-block;
                position: relative;
            }

            /* 5 and 6 user user */
            .video-5, .video-6{
                height: 100%;
                width: 100%;
                text-align: center;
                padding: 2px;
            }

            .video-5 .video-item, .video-6 .video-item{
                width: calc(100%/3 - 4px);
                height: calc(100%/2 - 4px);
                display: inline-block;
                position: relative;
            }

            /* 7 user */
            .video-7, .video-8{
                height: 100%;
                width: 100%;
                text-align: center;
                padding-top: 25px;
            }

            .video-7 .video-item, .video-8 .video-item{
                width: calc(100%/4 - 6px);
                height: calc(100%/2 - 4px - 2%);
                display: inline-block;
                position: relative;
            }

            /* 9 user */
            .video-9 {
                height: 100%;
                width: 100%;

                padding: 2px;
                text-align: center;
            }
            .video-9 .video-item{
                width: calc(100%/3 - 4px);
                height: calc(100%/3 - 4px);
                display: inline-block;
                position: relative;
            }

            /* 10, 11, 12 user */
            .video-10, .video-11, .video-12 {
                height: 100%;
                width: 100%;
                padding: 2px;
                text-align: center;
            }
            .video-10 .video-item, .video-11 .video-item, .video-12 .video-item{
                width: calc(100%/4 - 6px);
                height: calc(100%/3 - 4px);
                display: inline-block;
                position: relative;
            }
            /* 13, 14, 15 user */
            .video-13, .video-14, .video-15 {
                height: 100%;
                width: 100%;

                padding: 2px;
                text-align: center;
            }
            .video-13 .video-item, .video-14 .video-item, .video-15 .video-item{
                width: calc(100%/5 - 6px);
                height: calc(100%/3 - 4px);
                display: inline-block;
                position: relative;
            }

            /* 16, 17, 18, 19, 20 user */
            .video-16, .video-17, .video-18, .video-19, .video-20 {
                height: 100%;
                width: 100%;

                padding: 2px;
                text-align: center;
                
            }
            .video-16 .video-item, .video-17 .video-item, .video-18 .video-item, .video-19 .video-item, .video-20 .video-item{
                width: calc(100%/5 - 6px);
                height: calc(100%/4 - 4px);
                display: inline-block;
                position: relative;
            }
            /* 21, 22, 23, 24 ,25 user */
            .video-21, .video-22, .video-23, .video-24, .video-25 {
                height: 100%;
                width: 100%;

                padding: 2px;
                text-align: center;
            }
            .video-21 .video-item, .video-22 .video-item, .video-23 .video-item, .video-24 .video-item, .video-25 .video-item{
                width: calc(100%/5 - 6px);
                height: calc(100%/5 - 4px);
                display: inline-block;
                position: relative;
            }
            /* 26, 27, 28, 29 ,30 user */
            .video-26, .video-27, .video-28, .video-29, .video-30 {
                height: 100%;
                width: 100%;

                padding: 2px;
                text-align: center;
            }
            .video-26 .video-item, .video-27 .video-item, .video-28 .video-item, .video-29 .video-item, .video-30 .video-item{
                width: calc(100%/5 - 6px);
                height: calc(100%/6 - 4px);
                display: inline-block;
                position: relative;
            }
            .video-item{
                position: relative;
                .stream-info{
                    position: absolute;
                    top: 0px;
                    padding: 5px;
                    right: 0px;
                    background: #5199ff;
                    border-radius: 0px 0px 0px 5px;
                    i{
                        color: white;
                    }
                }
                .btn-wrapper{
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    > div{
                        color: white;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        button{
                            cursor: pointer;
                            margin: 0 2px;
                            width: 90px;
                            height: 30px;
                            border-radius: 10px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                &:hover .btn-wrapper{
                    display: block;
                }
            }
        }
        .single-video{
            height: 100%; 
            position: relative;
            &__body{
                width: 100%;
                height: 90%;
                min-width: 1200px;
                max-width: 1200px;
                min-height: 900px;
                margin: 0 auto;
            }
            .test-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);

                display: flex;
                justify-content: center;
                align-items: center;
                > div {
                    background-color: white;
                    border-radius: 10px;
                    height: 400px;
                    width: 500px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    > h1{
                        margin: 10px 0;
                        color: red;
                    }
                    .input-number{
                        width: 100px;
                        height: 100px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        outline: none;
                        margin: 10px 0;
                        color: red;
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
            .wrapper-outState{
                position: absolute;
                top: 0;
                left: 0;
                height: 90%;
                width: 100%;
                background: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                div{
                    text-align: center;
                }
                button{
                    // width: 140px;
                    // height: 42px;
                    margin: 15px 0;
                    color: white;
                    padding: 10px 40px;
                    border-radius: 4px;
                    background-color: #5199ff;
                    cursor: pointer;
                    border: none;
                }
            }
            &__footer{
                padding: 0 20px;
                height: 10%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                color: white;
                background: black;
                i{
                    cursor: pointer;
                    padding: 15px;
                    font-size: 25px;
                    outline: none;
                    transform: rotate(180deg);
                }
                button{
                    padding: 10px 20px;
                    border: none;
                    color: black;
                    font-weight: bold;
                    outline: none;
                    border-radius: 5px;
                    background: white;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }
